@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300;400;700;900&display=swap');
*{
margin: 0; 
padding: 0; 
box-sizing: border-box;
scroll-behavior: smooth;
}
@media  screen and (min-width:993px) {

  body {
    font-family: 'Bree Serif', serif;
    font-weight: 100;
    display: flex;
    overflow: hidden;
    background-color: black;

  }


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.login-form input{
    height: 2rem;
    text-transform: uppercase;
    color: white;
 
  
  
}
input::placeholder {
    font-size: 0.8rem;
    padding: 15px;
}

.form-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.form-text a{
    text-decoration: none;
    color: white;

}

.form-text a:hover{
  color: #ffff2b;
    
    }
    .login-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 20rem;
    cursor: pointer;
    box-shadow: 2px 0px 4px 0px white;
    letter-spacing: 2px;

}

.login-submit:hover{
    transform: scale(0.9);
    transition: all ease 0.8;
}
.login-username, .login-password{
    border: none;
	background-color: transparent;
	border-bottom: 1px solid white;
	outline: none;
}

}

@media screen and (max-width:481px){
  
    body{
        width: 100vw;
        max-width: 100%;
        max-height: 100%; 
        font-family: 'Bree Serif', serif;
    font-weight: 100;
    display: flex;
    overflow: hidden;
    background-color: black;
      }

      .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
        
    }
    
    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    
    }
    
    .login-form input{
        height: 2rem;
        text-transform: uppercase;
      
      
    }
   
    .form-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .form-text a{
        text-decoration: none;
        color: white;
        
    
    }
    
    .form-text a:hover{
      color: #ffff2b;
        
        }
        .login-submit {
        border: 1px solid white;
        background: transparent;
        color: white;
       cursor: pointer;
        margin: 1rem auto;
        padding: 0.5rem;
        width: 10rem;
        box-shadow: 2px 0px 4px 0px white;

    }   
    .login-username, .login-password{
        border: none;
        background-color: transparent;
        border-bottom: 1px solid white;
   
        outline: none;
    }
    }

    @media screen and (max-width:992px){
        body{
            width: 100vw;
            max-width: 100%;
            max-height: 100%; 
            font-family: 'Bree Serif', serif;
            font-weight: 100;
            display: flex;
            overflow: hidden;
            background-color: black;
          }  

          .form-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 2rem;
            
        }
        
        .login-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
           
        
        }
        
        .login-form input{
            height: 2rem;
            text-transform: uppercase;
            
          
          
        }
        .login-form input:focus{
            color: #ffff2b;    
        }
        .form-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
        .form-text a{
            text-decoration: none;
            color: white;
         
        
        }
        
        .form-text a:hover{
          color: #ffff2b;
            
            }
            .login-submit {
            border: 1px solid white;
            background: transparent;
            color: white;           
            margin: 1rem auto;
            padding: 0.5rem;
            width: 10rem;
            cursor: pointer;
            box-shadow: 2px 0px 4px 0px white;
        
        } 
        .login-username, .login-password{
            border: none;
            background-color: transparent;
            border-bottom: 1px solid white;
            
            outline: none;
        }
    }